* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  
  padding: 20px 10px;
  overflow: hidden;
  color: white;
}

.card-item {
  list-style: none;
  
  color: white;
}

.card-link {

  user-select: none;
  height: 667px;
  max-height: 800px;
  
  
  display: block;
   background: rgba(6, 10, 16, 0.533);
    backdrop-filter: blur(20px);
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  
  
  border: 1px solid rgba(255,255,255,0.07);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
  margin-top: 30px;
}
.center{
    margin-top: 40px;
}
.card-link:hover {
  border-color: #5372f0;
}

.card-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}

.badge {
  color: #00e5ff;
  font-weight: 600;
  font-family: MyFont;
  margin: 16px 0 18px;
  padding: 8px 16px;
  
  font-size: 30px;
  
  width: fit-content;
  border-radius: 50px;
}

.card-title {
  font-size: 16px;
  color: gainsboro;
  font-weight: 100;
}

.card-button {
  height: 35px;
  width: 35px;
  color: #5372f0;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  transform: rotate(-45deg);
  border: 2px solid #5382f0;
  transition: 0.4s ease;
}

.card-link:hover .card-button {
  color: #fff;
  background: #5372f0;
}

.swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #5372f0;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #5372f0;
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}